body{
    margin: 0;
    height: 100vh;
}

.photo-container{
    display: flex;
    height: 100vh;


    &:hover{
        .photo:not(:hover){
            filter: saturate(0);
        }
    }

    @media(max-width:800px){
        flex-direction: column;
    }
}

.photo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


        
    @for $i from 1 through 4{
        &:nth-child(#{$i}){
            background-image: url(imgs/viole#{$i}.JPG);
            background-size: cover;
        
        }
    }

}

h2{
    color: cornsilk;
    font-size: 60px;
    transform: translateY(800%);
    transition: .4s .3s;


    &::before{
        content: "";
    //      position: absolute;
        font-size: 60px;
        width: 350px;
        height: 70px;
        transition: .5s .4s;
        transform: scale(0);
      }
}

.photo{
    overflow: hidden;
    flex-basis: 25%;
    transition: flex-basis .6s, filter 1.2s;
    filter: saturate(.5);
    position: relative;

    
    &:hover{
        flex-basis: 150%;
        filter: saturate(1.5);

        @media (max-width:800px) {
            flex-basis: 75%;
        }
      

        h2{
            transform: translateY(0);
                

            &::before{
            border-top: 1.6px solid cornsilk;
            border-bottom: 1.6px solid cornsilk;
            display: block;
            transform: scale(1);
            position: absolute;
            }
        }
    }

}