body{
    margin: 0;
}

.photo-container{
    display: flex;
    height: 100vh;

    &:hover{
        .photo:not(:hover){
            filter: saturate(0);
        }
    }

    @media(max-width:800px){
        flex-direction: column;
    }
}

h2{
    color: cornsilk;
    position: absolute;
    font-size: 60px;
    transform: translate(40%, 50%);
    transition: .4s;
    z-index: 20;
    
    width: 360px;
    

    &::before{
        content: "";
        position: absolute;
        font-size: 60px;
        width: 350px;
        height: 70px;
        transition: .5s .2s;
        transform: scale(0);
    }
}

.photo{
    overflow: hidden;
    flex-basis: 25%;
    transition: flex-basis .6s, filter 1.2s;
    filter: saturate(.5);
    position: relative;
    width: 100%;

    @media(max-width:800px){
        background-position: center;
    }


    &:hover{
        flex-basis: 150%;
        filter: saturate(1.5);

      

        h2{
            transform: translate(40%, -750%);
            margin: auto;

        

            &::before{
            border-top: 1px solid cornsilk;
            border-bottom: 1px solid cornsilk;
            display: block;
            transform: scale(1);
            }
        }
    }

}